{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 300px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex align-items-center">
                                    <h2 class="text-primary" dir="rtl">إليكترونيات</h2>
                                </div>
                                <div class="col text-center">
                                    <i class="bi bi-laptop text-primary" style="font-size: 60px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 300px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex align-items-center">
                                    <h2 class="text-primary" dir="rtl">المطبخ</h2>
                                </div>
                                <div class="col text-center">
                                    <i class="bi bi-utensils text-primary" style="font-size: 60px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 300px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex align-items-center">
                                    <h2 class="text-primary" dir="rtl">الاثاث المنزلي</h2>
                                </div>
                                <div class="col text-center">
                                    <i class="bi bi-house text-primary" style="font-size: 60px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 300px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex align-items-center">
                                    <h2 class="text-primary" dir="rtl">التجميل</h2>
                                </div>
                                <div class="col text-center">
                                    <i class="bi bi-brush text-primary" style="font-size: 60px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}